/* https://codepen.io/screenthink/pen/ZeOyjP */

/* .btn {
    border: 2px solid black;
    padding: 2px 4px;
    margin: 40px;

    box-shadow: -6px 6px 0 black;
} */

.container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  top: 0;
  left: 0;
  transition: all 0.15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: gray;

  text-transform: uppercase;
  color: black;
  font-family: arial;
  letter-spacing: 1px;

  box-shadow: -6px 6px 0 black;
  text-decoration: none;
}

.btn::after {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  top: 2px;
  left: -4px;
  width: 8px;
  height: 8px;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}

.btn::before {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}

div.btn {
  position: relative;
}

div:active.btn {
  top: 6px;
  left: -6px;
  box-shadow: none;
}

div:active.btn:after {
  top: 1px;
  left: 1px;
}

div:active.btn:before {
  bottom: 1px;
  right: 1px;
}

.btn:hover {
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 black;
}

.btn:hover::after {
  top: 1px;
  left: -2px;
  width: 4px;
  height: 4px;
}

.btn:hover::before {
  bottom: -2px;
  right: 1px;
  width: 4px;
  height: 4px;
}

/* -------- */

.mybutton {
  top: 0;
  left: 0;
  transition: all 0.1s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: gray;

  text-transform: uppercase;
  color: black;
  font-family: arial;
  letter-spacing: 1px;

  box-shadow: -8px 8px 0 black;
  text-decoration: none;
}

.mybutton::after {
  transition: all 0.1s linear 0s;
  content: "";
  position: absolute;
  top: 3px;
  left: -5px;
  width: 11px;
  height: 11px;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}

.mybutton::before {
  transition: all 0.1s linear 0s;
  content: "";
  position: absolute;
  right: 2px;
  bottom: -6px;
  width: 11px;
  height: 11px;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}

.mybutton:active {
  top: 5px;
  left: -5px;
  box-shadow: -3px 3px 0 black;
}

.mybutton:active::after {
  top: 1px;
  left: -2px;
  width: 4px;
  height: 4px;
}

.mybutton:active::before {
  bottom: -2px;
  right: 1px;
  width: 4px;
  height: 4px;
}

/* ------- BOX ------- */

.box {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: gray;
}

/* .left {
  position: absolute;
  width: 60px;
  height: 20px;
  background-color: rgb(48, 48, 48);

  transform-origin: top left;
  transform: rotateZ(90deg);
} */
