@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;900&display=swap");

.container {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  /* margin-bottom: 20rem; */
  min-height: 50vh;
  font-size: 1.2rem;
}

.container h2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.glitch {
  display: inline-block;
}

.paragraph {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.censor {
  display: inline-block;
}

.capital {
}

.bold {
  display: inline-block;
  font-weight: 400;
}

.spacer {
  color: grey;
}

.radius {
  display: inline-block;
}

.underline {
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hidden {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hiddenspan {
  display: inline-block;
}
