.container {
  position: relative;
  font-size: 80px;
}

.container span {
  display: inline-block;
  line-height: 0.83;
}

.q1 {
  animation-name: one;
}
.q2 {
  animation-name: two;
}
.q3 {
  animation-name: three;
}
.q4 {
  animation-name: four;
}

.q1,
.q2,
.q3,
.q4 {
  animation-timing-function: cubic-bezier(0.37, 0.04, 0.56, 0.99);
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes one {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0);
  }
  20%,
  to {
    transform-origin: 100% 100%;
    transform: rotate(90deg);
  }
}

@keyframes two {
  0%,
  20% {
    transform-origin: 100% 0%;
    transform: rotate(0);
  }
  40%,
  to {
    transform-origin: 100% 0%;
    transform: rotate(90deg);
  }
}

@keyframes three {
  0%,
  40% {
    transform-origin: 0% 0%;
    transform: rotate(0);
  }
  60%,
  to {
    transform-origin: 0% 0%;
    transform: rotate(90deg);
  }
}

@keyframes four {
  0%,
  60% {
    transform-origin: 0% 100%;
    transform: rotate(0);
  }
  80%,
  to {
    transform-origin: 0% 100%;
    transform: rotate(90deg);
  }
}
