.page {
  --dim: 4000px;
  min-height: var(--dim);
  --mx: 0;

  // --col: rgb(247, 247, 247);
  // background: repeating-linear-gradient(
  //     0deg,
  //     transparent,
  //     transparent 400px,
  //     var(--col) 0,
  //     var(--col) 800px
  //   )
  //   100% 800px;
}

.container {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;

  overflow: hidden;
  outline: 4px solid #bbb;
}

.perspective {
  height: 100%;

  transform-origin: left center;
  --persp: 120px;
  --a: 5deg;
  transform: perspective(var(--persp)) translate3d(0, 0, 0) rotateY(var(--a));

  outline: 2px solid #bbb;
}

.slider {
  height: 100%;
  display: flex;
  flex-flow: row;

  --dist: calc(620px - var(--s) * 1px);
  transform: translateX(var(--dist));
  transition: transform 0.2s ease-out;

  gap: 80px;
}

.slider > div {
  flex: 0 0 auto;
}

//

.header {
  h1 {
    max-width: 600px;
    margin: 60px auto 0px;
    padding: 0 20px;
  }
}

.part {
  max-width: 600px;
  font-size: 32px;
}

.box {
  margin: 24px;
  background-color: #000;
  width: 400px;
}

.buttons {
  width: 400px;
  display: grid;
  place-items: center;

  button {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0.1em;

    padding: 0.5em 0.8em;
    border: none;
    background-color: green;

    transition: all 0.2s ease;
    transform: translateX(0) scale(1) perspective(var(--persp));
    box-shadow: 0 0 #000;
  }

  button:hover {
    --d: 20px;
    transform: translateX(var(--d)) scale(1.01) perspective(var(--persp));
    box-shadow: calc(var(--d) * -1) calc(var(--d) * 0.3) #000;
    cursor: pointer;
  }
}
