.container {
  max-width: 860px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #aaa;
  gap: 1rem;
  padding: 1rem;
}
.grid > div {
  flex: 1 1 300px;
  // padding: 1rem;
  aspect-ratio: 1;
  background-color: white;
}
.grid p {
  padding: 1rem;
}
.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 0.5s clip-path ease-in-out, 0.5s transform ease-in-out;
  transform: scale(1);
  z-index: 2;
}

.p1:hover {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  transform: scale(1.2);
}

.p6 {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  transition: 0.5s clip-path ease-out;
}

.p6:hover {
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}

.p2 {
  --value: 0%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 10%,
    var(--value) 10%,
    var(--value) 20%,
    100% 20%,
    100% 30%,
    var(--value) 30%,
    var(--value) 40%,
    100% 40%,

    100% 50%,
    var(--value) 50%,
    var(--value) 60%,
    100% 60%,

    100% 70%,
    var(--value) 70%,
    var(--value) 80%,
    100% 80%,

    100% 90%,
    var(--value) 90%,
    var(--value) 100%,
    100% 100%,

    100% 100%,
    0 100%
  );
  transition: 0.5s clip-path ease-out;
}

.p2:hover {
  --value: 100%;
}

@keyframes cliproll {
  from {
    clip-path: polygon(
      var(--p1),
      var(--p2),
      var(--p3),
      var(--p4),
      var(--p5),
      var(--p6),
      var(--p7),
      var(--p8)
    );
  }
  to {
    clip-path: polygon(
      var(--p2),
      var(--p3),
      var(--p4),
      var(--p5),
      var(--p6),
      var(--p7),
      var(--p8),
      var(--p1)
    );
  }
}
.p3 {
  animation: cliproll 4s infinite linear;
  --p1: 20% 10%;
  --p2: 50% 5%;
  --p3: 80% 20%;
  --p4: 90% 45%;
  --p5: 85% 85%;
  --p6: 50% 95%;
  --p7: 16% 84%;
  --p8: 10% 50%;
}

.p4 {
  clip-path: inset(0px 0px 0px 0px round 0px);
  transition: 0.3s clip-path linear;
}

.p4:hover {
  clip-path: inset(10px 10px 10px 10px round 20px);
}

.p5 {
  clip-path: inset(0 0 0 0 round 50%);
  transition: 0.3s clip-path ease-out;
}

.p5:hover {
  clip-path: inset(0 0 0 0 round 16px);
}
