.container {
  max-width: 860px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #aaa;
  gap: 1rem;
  padding: 1rem;
}
.grid > div {
  flex: 1 1 300px;
  padding: 1rem;
  background-color: white;
}

.grid button {
  font-size: 2rem;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5rem;
}

.b1 {
  border: 8px solid;
  border-image-slice: 1;
  // border-width: 5px;
  border-image-source: linear-gradient(45deg, red, blue);
}

.b2 {
  border: 8px solid transparent;
  border-radius: 1rem;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, red, blue) border-box;
}

@keyframes move {
  // from {    background-position: top left;  }
  to {
    background-position: 100% 100%;
  }
}

.b3 {
  border: 8px solid transparent;
  border-radius: 1rem;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(-45deg, blue, red) border-box 0 / 200% 200%;
  animation: move 1s linear infinite alternate;
}

@keyframes move2 {
  to {
    background-position: 100%;
  }
}
.b4 {
  border: 8px solid transparent;
  border-radius: 1rem;

  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(-45deg, red, blue, red, blue, red, blue)
      border-box 0 0 / 200% 200%;
  animation: move2 1s linear infinite;
}

.b5 {
  border: 8px solid transparent;
  border-radius: 1rem;

  --x: calc(var(--mx, 0) * 100%);
  --y: calc(var(--my, 0) * 100%);

  background: linear-gradient(white, white) padding-box,
    radial-gradient(circle at var(--x) var(--y), red, blue) border-box;
}
