.container,
.container * {
  box-sizing: border-box;
}

.autoMargin {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  background-color: gold;
  padding: 32px;
}

.calcMargin {
  --margin: calc((100vw - 1000px) / 2);
  margin-left: var(--margin);
  margin-right: var(--margin);

  background-color: orange;
  padding: 32px;
}

.calcPerc {
  --margin: calc((100% - 1000px) / 2);
  margin-left: var(--margin);
  margin-right: var(--margin);

  background-color: orange;
  padding: 32px;
}
