@keyframes zoom {
  from {
    /* Front */
    /* -200px 0 */
    transform: perspective(var(--p)) translate3d(-200px, var(--y-adj), -200px)
      rotateY(var(--a));
  }
  to {
    /* Back */
    /* 100px -400px */
    transform: perspective(var(--p)) translate3d(100px, var(--y-adj), -800px)
      rotateY(var(--a));
  }
}

.container {
  z-index: -1;
  max-width: 100%;
  overflow: hidden;
}
.scroll {
  display: inline-block;
  position: absolute;
  border: 1px solid black;
  padding: 18px 8px;

  top: calc(50% - 200px);
  --p: 90px;
  --a: 50deg;
  --y-adj: 0;
  /* --p: calc(var(--my) * 10px); */

  white-space: nowrap;
  /* perspective-origin: calc(var(--mx) * 1%) calc(var(--my) * 1%); */
  --x: 20px;

  right: 20px;
  transform-origin: right 50%;

  animation: zoom 8s infinite linear alternate;

  display: flex;
  flex-direction: row;
}
