.bling {
  border: none;

  color: white;
  font-size: 22px;
  padding: 12px 20px;

  // *
  background-color: blue;
  //   transition: all 0.8s;

  &:active {
    background-image: radial-gradient(
      circle at 50% 50%,
      hsl(0 100% 100% / 0.4) 20px,
      transparent 0
    );
  }
}
