.container {
  max-width: 400px;
  margin: 0 auto;
}

.sc1 {
  height: 200px;
}
.above {
  background-color: grey;
}
.below {
  background-color: green;
}

.slide {
  height: 200px;
  background-color: rgb(240, 153, 153);
  /* position: absolute; */
  --p: calc(100 * var(--s) / var(--s-max));
  --pos: calc((var(--p) - 50) * 2%);
  padding-bottom: var(--p);
  transform: translateX(var(--pos));
  transition: transform 0.1s linear;
}

.pacman {
  --w: 100px;
  width: var(--w);
  height: var(--w);

  /* background-color: rgb(249, 211, 46); */
  --col: rgb(249, 211, 46);
  --mouth: calc(var(--a) * 4.5deg);
  background-image: radial-gradient(black 5px, transparent 0),
    conic-gradient(
      var(--col) calc(90deg - var(--mouth)),
      transparent calc(90deg - var(--mouth)),
      transparent calc(90deg + var(--mouth)),
      var(--col) 0deg
    );
  background-position: 0 -25px, 0 0;
  border-radius: 50%;

  --pos: calc((var(--p) - 50) * 10% + 50%);
  transform: translateX(var(--pos));
  transition: all 0.1s linear;
}
