.layout {
  background-color: rgb(244, 244, 244);
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.8s linear;

  display: flex;
  align-items: center;
  &:hover {
    max-height: 1000px;
  }
  ul {
    padding: 1rem 0;
    margin: 0 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav a {
    display: inline-block;
    color: inherit;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      background-color: #ddd;
    }
  }
}
